<section class="banner"></section>
<header>
  <div class="headerDiv">
    <div class="logoDiv">
      <a href="#">
        <img
          class="logo"
          src="/assets/images/logo.png"
          alt="LOGO"
          height="100%"
        />
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#">MENU</a>
        </li>
        <li>
          <a href="#">CONTACT US</a>
        </li>
        <li>
          <a href="#">ABOUT</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="slides">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="w-100"
          src="/assets/images/burger.jpg"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>
</section>
<section class="menu"></section>
<footer></footer>
